@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700&display=swap');
/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.generatorWindow__container {
    -fx-background-color: #274873;
    -fx-font-family: "Oswald";
    -fx-fill: #fbd784;
}

.generatorWindow__container Text {
    -fx-font-size: 1em;
    -fx-fill: #fbd784;
    -fx-font-family: "Oswald";
    -fx-font-weight: 600;

}

.generatorWindow__container_choiceBox {

}
















