@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700&display=swap');
/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.generatorWindow__wrapper-parent {
    -fx-background-color: #132B40;
    -fx-font-family: "Oswald";
    -fx-fill: #fbd784;
}

.generatorWindow__wrapper-parent Text {
    -fx-font-size: 1em;
    -fx-fill: #fbd784;
    -fx-font-family: "Oswald";
    -fx-font-weight: 600;

}
.generatorWindow__wrapper-parent .innerWrapper {
}

.userNameNearAvatar {
    -fx-fill:#F2A649 ;
    -fx-font-size: 14px;
    -fx-font-family: Oswald;
    -fx-font-weight: 800;
}

.passageAddIcon:hover {
    -fx-translate-y: -3px;

}













