.greyBtn {
    -fx-alignment: center;
    -fx-background-color: linear-gradient(#F2F2F2 0%, #595856 100%);
    /*-fx-background-insets: 0, 1;*/
    -fx-background-radius: 0.3em; /* Border radius */
    -fx-border-color: transparent;
    /*-fx-border-width: 1px;*/
    -fx-border-radius: 0.5em;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.02), 3, 0, 0, 1); /* Shadow effect */
    -fx-text-fill: #0B1D26;
    -fx-font-family: "Oswald", "Helvetica", "Arial", "sans-serif";
    -fx-font-size: 16px;
    -fx-font-weight: 400;
    /*-fx-padding: 0.5em 1em; !* Adjusted padding *!*/

    -fx-line-height: 1.25;
    -fx-min-height: 2em;

    -fx-transition: all 250ms;
    /*-fx-user-select: none;*/

}

.greyBtn:hover {
    /*-fx-background-color: #AAAAAA;*/
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 12, 0, 0, 4); !* Shadow effect on hover *!*/
    -fx-cursor: HAND; /* Pointer cursor */
    /*-fx-translate-y: -2px;*/
    -fx-background-color: #dfdfdf;
}

.greyBtn:focused {
    -fx-background-color: #dfdfdf;

}


.greyBtn:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.06), 4, 0, 0, 2);
    /*-fx-translate-y: 0; !* Reset translation *!*/
}