.modalwindow__wrapper {
-fx-background-color:#D9D9D9 ;
}

.okBtn {
    -fx-cursor: hand;
}

.modalwindow__gradientPane {
    -fx-background-color: linear-gradient( rgba(166,15,15,0.6867121848739496) 0%, rgba(0,0,0,0) 100%);
}

.modalwindow__wrapper Text {
    -fx-font-family: Oswald;
    -fx-wrap-text: true;
    -fx-fill: BLACK;
    -fx-font-size: 1.5em;
    -fx-font-weight: 400;

}
.modalTypeTitle {
    -fx-underline: true;

}
