@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700&display=swap');
/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

.questionsWrapper {
    -fx-font-size: 1.2em;
    -fx-padding: 0.7em;
    /*-fx-spacing: 10;*/
    -fx-app-background: whitesmoke;
    -fx-background-color: -fx-app-background;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 15);
    -fx-background-radius: 15;
    -fx-font-family: "Maven Pro";
    /*-fx-border-color: black;*/
}

.questionWrapper_questionText {


}

.questionsWrapper__choicesBox {
-fx-spacing: 5;
}

.choiceBox__choice {
    -fx-spacing: 10;
    -fx-pref-height: 1.4em;
}

