@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700&display=swap');
/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

.worksheetWindow__parent {
    -fx-background-color: #132B40;

}

.worksheetWindow__parent-titlesWrapper {
    -fx-font-family: Oswald;
    -fx-font-size: 1.3em;
}

.passageTitle {
    -fx-font-size: 1.5em;
    -fx-font-weight: 800;

}

/*.worksheetWindow__topSection Text {*/
/*    -fx-font-size: 1.2em;*/
/*    -fx-fill: #fbd784;*/
/*    -fx-end-margin: 1em;*/
/*    -fx-font-family: Oswald;*/

/*}*/

.worksheetWindow__parent-mainTitle {
    -fx-font-size: 1.2em;
    -fx-fill: #fbd784;
    -fx-end-margin: 1em;
}

.worksheetWindow__rightSection-inner {

}

.worksheetWindow__leftSection-inner {
    -fx-font-family: "Maven Pro";
    -fx-font-size: 1.2em;
    /*-fx-border-color: red;*/
}

.worksheetWindow__bottom Text {
    -fx-fill: #fbd784;
    -fx-font-family: Oswald;
    -fx-font-size: 1em;
}

.worksheetWindow__bottomSection-timerText,
.worksheetWindow__bottomSection-score {
    -fx-font-size: 1.2em;
    -fx-fill: #fbd784;
    -fx-background-color: #E6E3E8;
    -fx-font-weight: 800;
    -fx-font-family: Oswald;
}


.worksheetWindow__topSection-searchField {
    -fx-background-color: transparent;
    -fx-border-style: hidden hidden solid hidden;;
    -fx-border-color: #fbd784;
    -fx-border-width: 1px;
    -fx-text-fill: #c5c4c4;
    -fx-font-size: 18px;
    -fx-font-family: Oswald;
    /*-fx-prompt-text-fill: #fbd784;*/
}

.worksheetWindow__topSection-search:hover,
.worksheetWindow__topSection-search:focused {
}

.topSection__search-innerText {
    -fx-text-fill: #fbd784;
    -fx-font-family: Oswald;
    -fx-font-size: 16px;

}